.border-bottom {
  border-bottom: 1px solid #818181;
}
.bordered {
  border: 1px solid #818181;
}
.padded {
  padding: .5em;
}
.no-padding {
  padding: 0;
}
.wrap {
  word-break: break-all !important;
  word-wrap: break-word !important;
  white-space: nowrap !important;
}
.container {
  padding-top: 2ex;
  width: 100% !important;
}
.table-header {
  background-color: #22344c;
  color: #ffffff;
  border-bottom: 1px solid #818181;
}
.item-container {
  padding: 1em;
  max-height: 36.5ex;
  overflow-y: auto;
}
.item-container a.item {
  color: #000;
  padding: .25em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-container a.item:hover {
  background-color: #007da4 !important;
  color: #ffffff;
}
.item-container a.item.active {
  background-color: #00a4d7;
  color: #ffffff;
}
.log-controls {
  text-align: center;
  width: 100%;
  min-height: 5ex;
  margin-bottom: 2ex;
}
.log-controls > div {
  display: inline-block;
  float: none;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  vertical-align: top;
  height: 5ex;
}
.log-container-slider {
  height: calc(100vh - 41ex);
  width: 6em !important;
}
@media (min-width: 768px) {
  .log-container-slider {
    height: calc(100vh - 41ex);
  }
}
@media (min-width: 980px) {
  .log-container-slider {
    height: calc(100vh - 30.5ex);
  }
}
@media (min-width: 1865px) {
  .log-container-slider {
    height: calc(100vh - 25.5ex);
  }
}
.log-container {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: block;
  line-height: 1.42857143;
  color: #7b8a8b;
  background-color: #ecf0f1;
  border: 1px solid #cccccc;
  overflow: hidden;
  width: calc(100vw - 8em);
}
.log-container .log-line-container {
  display: block;
  overflow-x: auto;
  max-height: calc(100vh - 41ex);
  width: 100%;
  border-top: 1px solid #a2a2a2;
}
@media (min-width: 768px) {
  .log-container .log-line-container {
    max-height: calc(100vh - 44ex);
  }
}
@media (min-width: 980px) {
  .log-container .log-line-container {
    max-height: calc(100vh - 33.5ex);
  }
}
@media (min-width: 1865px) {
  .log-container .log-line-container {
    max-height: calc(100vh - 28.5ex);
  }
}
.log-container .log-line {
  padding: 0 8.5px;
  display: table-row;
  width: 100%;
}
.log-container .log-line:nth-child(odd) {
  background-color: #f3f7f8;
}
.log-container .log-line:nth-child(even) {
  background-color: #e1e5e6;
}
.log-container .log-line.current {
  background-color: #00a4d7;
  color: #ffffff;
}
.log-container .log-line.current span {
  background-color: #00a4d7;
  color: #ffffff;
}
.log-container .log-line:hover,
.log-container .log-line.current:hover {
  background-color: #007da4;
  color: #ffffff;
}
.log-container .log-line:hover span,
.log-container .log-line.current:hover span {
  background-color: #007da4;
  color: #ffffff;
}
.log-container .log-line span {
  padding: 0 .5em;
  vertical-align: middle;
}
.log-container .log-line .timestamp {
  width: 18em;
  display: inline-block;
  text-align: center;
}
.log-container .log-line .host {
  width: 7em;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.log-container .log-line .log {
  display: inline-block;
  text-align: left;
}
.log-container .log-line .log em {
  background-color: #ffff00;
  font-weight: bold;
  color: #000000;
}
.log-container .log-line.header {
  display: table-row;
  height: 3ex;
  position: relative;
  font-weight: bold;
  border-bottom: none;
}
.log-container .log-line.header .timestamp {
  width: 18em;
  display: inline-block;
  text-align: center;
}
.log-container .log-line.header .host {
  width: 6.5em;
}
.log-container .log-line.header .log {
  display: inline-block;
  text-align: left;
}
.unwrap .log {
  border-top: dotted 1px #4b4b4b;
  margin-top: .5ex !important;
  padding-top: .5ex !important;
  padding-bottom: .5ex !important;
  display: block !important;
}
